.list {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 350px;

    background-color: #f1f3f4;
    list-style: none;

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    transition: height 0.2s ease;
}

.list[collapse = true] {
    padding-bottom: 0;
    height: 0;
}

.li {
    display: inline-block;

    margin-top: 12.5px;
    margin-bottom: 12.5px;

    height: 40px;
    width: 200px;

    border-radius: 0.50rem;
    background-color: #ffffff;
    box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);

    transition: opacity 0.2s;
}

.list[collapse = false] .li {
    opacity: 1;
}

.list[collapse = true] .li {
    opacity: 0;
}

.title {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 20px;

    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;

    background-color: #00a8a3;
    color: #f1f2f3;

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    cursor: pointer;

    z-index: 1000;

    transition: color 0.2s, background-color 0.2s;
}

.title:hover {
    color: #ffffff;
    background-color: #008580;
}