.sidebar {
    position: absolute;
    bottom: 0;
    right: 0;

    padding-top: 2rem;

    min-width: 270px;
    max-width: 100vw;
    width: var(--sidebar-width);
    height: 100vh;

    background-color: var(--additional-color);

    transition: background-color 0.2s, transform 0.2s ease;
    z-index: 1;
}

.sidebar::after {
    position: absolute;
    top: 0;
    left: 0px;
    content: "";

    height: 100%;
    width: 20px;

    background-color: var(--main-color);
    box-shadow: -5px 0 16px var(--additional-shadow-color);
    border-bottom-left-radius: 1rem;

    transition: background-color 0.2s;
    
}

.sidebar[collapse=true] {
    transform: translate(calc(var(--sidebar-width) - 20px), 0);
}

.sidebar .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: calc(100% - 100px);

    background: transparent;
    overflow-y: overlay;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 20px;

    background-color: var(--main-color);

    border-bottom-left-radius: 1rem;

    transition: background-color 0.2s;

    cursor: pointer;

    z-index: 3;
}
.toggle:hover {
    background-color: var(--hover-color);
}

.toggle > ion-icon {
    font-size: 2rem;
    color: var(--main-text-color);
    transition: 0.2s;
}

.sidebar[collapse = "false"] .toggle > ion-icon {
    transform: rotateZ(180deg);
}

.resizer {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 4px;

    background-color: var(--main-background-color);

    border-bottom-left-radius: 1rem;

    transition: background-color 0.1s;

    cursor: ew-resize;

    z-index: 4;
}

.resizer:hover {
    background-color: var(--hover-background-color);
}

.sidebar[collapse = true ] .resizer {
    display: none;
}

.sidebar .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 3rem;

    background-color: var(--main-color);
}
