.wrapper {
    position: relative;
    width: fit-content;
    height: 100%;
}

.collapse,
.expand,
.close {
    position: absolute;
    margin-right: 0.5rem;

    width: 2.5rem;
    height: 100%;

    background-color: transparent;

    cursor: pointer;

    transition: background-color 0.2s;

    -webkit-app-region: none;
}

.collapse:hover,
.expand:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.close:hover {
    background-color: #c5003b;
}

.collapse {
    top: 0;
    left: -7.5rem;
}

.expand {
    top: 0;
    left: -5rem;
}

.close {
    top: 0;
    left: -2.5rem
}

.collapse::before,
.expand::before,
.close::before,
.close::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";

    border-radius: 0.15rem;

    background-color: #ffffff;
}

.collapse::before {
    width: 40%;
    height: 0.15rem;
}

.expand::before {
    width: 30%;
    height: 30%;

    border-style: solid;
    border-color: #ffffff;
    border-width: 0.15rem;

    background-color: transparent;
}

.close::before {
    width: 40%;
    height: 0.15rem;
    transform: translate(-50%, -50%) rotateZ(45deg);
}

.close::after {
    width: 40%;
    height: 0.15rem;
    transform: translate(-50%, -50%) rotateZ(-45deg);
}