.wrapper {
    position: relative;
    width: fit-content;
    height: 100%;
}

.collapse,
.expand,
.close {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 2.5rem;
    height: 100%;

    background-color: transparent;

    transition: background-color 0.2s;

    -webkit-app-region: none;
}

.collapse:hover,
.expand:hover {
    background-color: var(--hover-color);
}

.close:hover {
    background-color: var(--close-hover-color);
    color: var(--close-hover-text-color);
}

.close:hover ion-icon{
    color: inherit;
}

.wrapper ion-icon {
    font-size: 1.2rem;
    color: var(--main-text-color);
    --ionicon-stroke-width: 3rem;
}

.wrapper ion-icon[name = "copy-outline"] {
    transform: rotateZ(90deg) scale(0.75);
}